.top-container {
    /* border: solid 1px blue; */
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    padding: 60px 0;
}


/* data */
.t-data {
    /* border: solid 1px red; */
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}

.t-texts {
    /* border: solid 1px blue; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    direction: rtl;
    /* max-width: 700px; */
    color: var(--mui-palette-info-main);
    border-bottom: solid 2px var(--mui-palette-info-lightest);
}

.t-texts h1 {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}
.t-texts p {
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
}

.t-download {
    /* border: solid 1px red; */
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 20px;
    width: 100%;
}

.t-download button {
    border: solid 2px var(--mui-palette-info-main);
    border-radius: 100px;
    height: 45px;
    background-color: var(--mui-palette-secondary-contrast);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.t-download button:first-child {
    margin-right: 20px;
}

.t-download button img {
    padding: 0;
    margin: 0px 10px;
    margin-right: 40px;
}

.t-download button p {
    padding: 0;
    margin: 0 10px;
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--mui-palette-info-main);
}


/* preview */

.t-preview {
    /* border: solid 1px purple; */
    width: 40%;
    height: 100%;
}

.t-circleBG {
    /* border: solid 1px red; */
    z-index: 1;
    position: absolute;
    left: -180px;
    top: -80px;
}

.t-slider {
    position: relative;
    right: 50px;
    top: 40px;
    height: 100%;
    /* border: solid 1px red; */
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.t-arrow {
    /* border: solid 2px black; */
    padding: 10px;
}
.t-arrow img {
    cursor: pointer;
}
.t-arrow:last-child img {
    transform: rotate(180deg);
}

.t-mobile {
    width: 240px;
    /* height: 500px; */
    border: solid 5px black;
    border-radius: 15px;
    overflow: hidden;
}

.t-slides {
    width: 100%;
    display: flex;
    transition: 0.3s;
}

.t-1 {
    transform: translateX(0);
}
.t-2 {
    transform: translateX(-100%);
}
.t-3 {
    transform: translateX(-200%);
}
.t-4 {
    transform: translateX(-300%);
}
.t-5 {
    transform: translateX(-400%);
}

.t-slides img {
    width: 100%;
}